<nav class="navbar is-dark" role="navigation">
  <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-group">
          <p class="control">
            <a class="button is-success" (click)="logout()">
              <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
              </span>
              <span>
                 LOG OUT
              </span>
            </a>
          </p>
        </div>
      </div>
  </div>
</nav>

<section class="hero hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Its Works
      </h1>
      <h2 class="subtitle">
        Welcome Buddy!
      </h2>
    </div>
  </div>
</section>
